@import "assets/scss/app.scss";

.btn-custom {
  display: inline-block;
  .btn-prim {
    background: $color_button_submit;
    // border-color: $color_primary;
    border: none;
    color: white;
    padding: 5px 16px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 2px;
    text-align: center;
    min-width: 100px;

    &:hover {
      color: white;
      opacity: 0.5;
    }
  }
}
