.modalInfo {
  &-box {
    .modal-content {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 8vh 5vw 12vh;

      p {
        color: white;
      }
    }

    .btn {
      position: absolute;
      left: 50%;
      transform: translate(-65%);

      background-color: rgb(223, 113, 18);
      border-color: rgb(223, 113, 18);
      color: white;

      padding: 0.375rem 2.75rem;
      bottom: 10%;
      margin: 20px;
    }

    .btn:hover,
    .btn:focus {
      background-color: rgb(211, 110, 22);
      border-color: rgb(211, 110, 22);
      color: rgb(212, 203, 203);
    }
  }
}
