@import "../../assets/scss/foundation/variable/variable";

.container {
  display: inline-flex;
  position: relative;
  input {
    position: relative;
    z-index: 10;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: transparent;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: all 0.4s;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 4px;
      height: 30px;
      // background: rgba($bg_green, 0.7);
      background: currentColor;
      opacity: 0.7;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 4px;
      height: 30px;
      border-radius: 50%;
      // background: rgba($bg_green, 0.7);
      background: currentColor;
      opacity: 0.7;
      cursor: pointer;
    }
  }

  .leftPortion,
  .rightPortion {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: 0;
    transition: all 0.4s;
  }

  .leftPortion {
    left: 0;
    border-radius: 10px 0 0 10px;
    opacity: 0.6;
    background: currentColor;
  }
  // .interested {
  //   color: $color_interested;
  //   background: $color_interested;
  // }
  // .matching {
  //   color: $color_matching;
  //   background: $color_matching;
  // }
  // .refused {
  //   color: $color_refused;
  //   background: $color_refused;
  // }
  .rightPortion {
    right: 0;
    border-radius: 0 10px 10px 0;
    color: $color_inactive;
    background: $color_inactive;
    opacity: 0.3;
  }

  .active {
    box-shadow: 0 0 4px 1px currentColor;
    opacity: 0.5;
  }

  .index {
    position: absolute;
    top: -32px;
    left: 0;
    font-size: 14px;
    font-weight: 400;
  }
}
